python-dotenv
sentence-transformers
tiktoken
transformers
faiss-cpu
ipywidgets
langchain
langchain-community
langchain-huggingface
langchain-nomic
langchain-chroma
langchain-ollama
langchain-core
langchain-groq
huggingface-hub
beautifulsoup4
youtube-transcript-api              
pytube
numpy
yt-dlp
ragatouille
torch 
torchvision 
torchaudio
rank-bm25
lark
langgraph
gradio
langchainhub
tavily-python
gpt4all